@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    font-family: 'poppins',sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 32%;
    background-color: #febd01;
    bottom: 0px;
}

/* Header */
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 11;
}
header.fixed{
    background-color: #ffffff;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader .5s ease;
    z-index: 11;
}
@keyframes fixedHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-1);
    }
}
header .row{
    justify-content: space-between;
    align-items: center;
 }
 header .brand-name a{
     text-decoration: none;
     font-size: 22px;
     font-weight: 600;
     color: #ffffff;
     text-transform: uppercase ;
     position: relative;
 }
 header.fixed .brand-name a{
    color: #000000;
}
 header .brand-name a::before{
     content: '';
     height: 3px;
     width: 100%;
     position: absolute;
     left: 0px;
     bottom: 0px;
 }
 
 
 header .navbar ul{
     list-style: none;
     padding: 0;
     margin: 0;
 
 }
 header .navbar ul li{
     display: inline-block;
     margin-left: 35px;
 }
 header .navbar ul li a{
     font-size: 15px;
     text-decoration: none;
     line-height: 72px;
     color: #ffffff;
     display: block;
     font-weight: 600;
     position: relative;
 }
 
 header.fixed .navbar ul li a{
    color: #000000;
}

 header .navbar ul li a::before{
     content: '';
     height: 3px;
     background-color: #ffffff;
     width: 0%;
     position: absolute;
     right: 0px;
     bottom: -1px;
     transition: all .5s ease;
 }
 header.fixed .navbar ul li a::before{
     background-color: #febd01;
 }
 
 header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
 }
 header .navbar ul li a.active::before{
     width: 100%;
     left: 0;
 }
 
/* Home */
.Home{
    min-height: 100vh;
    background-image: url("A2_Prathyusha_223CS500\ -\ images/bg\ image.jpg");
    background-size: cover;
    background-position: center;
    padding: 250px;
}
.Home .full-screen{
    min-height: 100vh;
}
.Home .Home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.Home .Home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}
.Home .Home-content .block h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500px;
    margin: 0;
    padding: 0;
}
.Home .Home-content .block h1{
    color: #ffffff;
    font-size: 55px;
    font-weight: 600px;
    margin: 0;
    padding: 0;
}
.Home .Home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500px;
    margin: 0;
    padding: 0;
}
.Home .Home-content .block .cv-btn{
    padding-top: 20px;
}
.Home .Home-content .block .cv-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
}
.Home .Home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* About */
.about-me{
    padding: 100px;
    background-color: #ffffff;
}
.text-uppercase{
    text-transform: uppercase!important;
}
.about-me .section-title p.small{
    display: block;
    font-size:14px;
    color: #838383;
    font-weight: 400;
}
.about-me .about-content .img{
    flex: 0 033.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 60%;
    display: block;

}
.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;

}.about-me .about-content .text  h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #febd01;
}
.about-me .about-content .text  h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #000000;
}
.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #838383;
    line-height: 24px;
}
.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width:calc(50% - 15px) ;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom:10px;
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;

}
.about-me .about-content .text .info .list p{
    margin: 0;
}

/* Education */
.education{
    background-color: #F5F8FD;
    padding: 100px 10px 70px;
}
.education .section-title h1:before{
    left: 30%;
}
.education .education-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education .education-content ul li {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: row;
  }
  
.education .education-content ul li div:first-child {
    width: 25%;
    text-align: center;
  }
  
.education .education-content ul li div:last-child {
    width: 75%;
  }
  
.education .education-content p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 55px;
    color: #252525;
    line-height: 24px;
  }

/* Project */
.projects{
    background-color: #ffffff;
    padding: 100px 15px 70px;
}
.projects .section-title h1:before{
    left: 30%;
}
.projects .project-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project-content ul li {
    display: flex;
    margin-bottom: 50px;
    flex-direction: row;
  }

.projects .project-content ul li div:first-child {
    width: 25%;
    text-align: center;
  }
  
.projects .project-content ul li div:last-child {
    width: 75%;
  }

.projects .project-content p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 10px;
    color: #252525;
  } 

  /*  Skills */
.skills{
    padding: 100px 15px;
    background-color: #F5F8FD;
}
.skills .skills-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
/*.skills .img{
    flex: 0 0 50%;
    max-width: 50%;
}
.skills .img img{
    width: 100%;
    display: block;

}*/
.align-items-center{
    align-items: center;
}

.skills .skills-content .section-title p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0 0px;
}
.skills .skills-content .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.skills .skills-content .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}
.skills .skills-content .skill-box .skill-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}

  /* footer*/
  footer{
    padding: 70px 15px;
    background-color: #0c0c17;
}
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 900;
}
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}
footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    
}
footer .social a:hover{
    color: #ffffff;
}
/* copyright */
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
